*, h1, h2, p, input, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-align: center;
}

input:focus,button:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

button:hover, input:hover {
    cursor: pointer;
}

#content {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);
}

/*
    LANDING
*/
#landing-container {
    width: 60%;
    height: fit-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: .8rem;
    border: 2px solid white;
    padding: 1rem;
    background-image: url('resources/fur.jpg');
}

#werewolf-title {
    font-size: 4rem;
    color: rgb(252, 252, 252);
}

#landing-connect-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#landing-username-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-label {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: .5rem .5rem 0 0;
}

.landing-input {
    width: 100%;
    border-radius: .5rem;
    padding: .5rem;
    background-color: rgb(224, 224, 224);
    font-size: 1.3rem;
    border: 2px solid black;
}

#landing-create-game-button {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 3px solid rgb(0, 0, 0);
}

#landing-create-game-button:hover {
    border: 3px solid white;
}

#landing-join-game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-join-game-button {
    width: 100%;
    padding: .2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    margin-top: .5rem;
    background-color: rgb(55, 83, 121);
    color: white;
    border: 2px solid rgb(0, 0, 0);
}

#landing-join-game-button:hover {
    border: 2px solid rgb(255, 255, 255);
}

.landing-error-message {
    color: red;
    display: none;
}

/*
    CREATE GAME
*/
#create-game-container {
    width: 80%;
    height: fit-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid green;
    display: none;
}

#create-num-players-container {
    margin: 1rem;
}

#create-num-label {
    color: white;
    font-size: 1.5rem;
}

#create-num-input {
    font-size: 1.1rem;
}

#create-characters-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.create-character-image {
    width: 18vmin;
    height: 18vmin;
    border: 2px solid white;
    margin: .2rem .1rem;
}

.create-character-image:hover {
    cursor: pointer;
}

.active-create-character {
    filter: invert(100%);
}

#create-characters-warning {
    margin: 1rem 0;
    color: white;
    height: 3.3rem;
}

#create-game-button {
    width: 100%;
    padding: .8rem;
    height: 3.3rem;
    margin: 1rem 0;
    border-radius: .2rem;
    font-size: 1.5rem;
    display: none;
}


/*
    PRE GAME
*/
#pregame-lobby-container {
    width: 80%;
    height: fit-content;
    min-height: 80vh;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    display: none;
}

#pregame-lobby-stats {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pregame-players-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    border: 2px solid blue;
}

#pregame-player {
    margin: 1rem;
}

#pregame-button-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#werewolf-logo {
    width: 80%;
    height: auto;
}

#pregame-waiting-message {
    font-size: 1.4rem;
    color: white;
}

.pregame-button {
    width: 100%;
    padding: .2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 255, 255);
}

.pregame-button:hover {
    border: 2px solid rgb(0, 0, 0);
}

#pregame-leave-button {
    margin-bottom: 1rem;
    display: none;
}

.ready {
    background-color: transparent;
    border: 2px solid rgb(201, 201, 201);
    color: rgb(201, 201, 201);
}

.ready:hover {
    border: 2px solid rgb(201, 201, 201);
}

/*
    GAME
*/
#game-container {

}


/*
    NIGHT GAME
*/
#night-container {

}

@media screen and (max-width: 900px) {
    #landing-container {
        width: 90vw;
        min-height: 90vh;
    }

    #landing-connect-container {
        width: 99%;
    }

    #create-game-container {
        width: 95%;
        height: fit-content;
    }

    .create-character-image {
        width: 22vmin;
        height: 22vmin;
        margin: .2rem .1rem;
    }

    #pregame-lobby-stats h1{
        font-size: 1.5rem;
    }
}